@media(min-width: $container-md) {
  /*HEADER*/
  .header-desktop {
    display: block;
  }

  .header {
    display: none;
  }
}
/*MODAL*/
@media(min-width: $container-sm) {
  /*PROFILE*/
  .profile {
    display: block;
  }
  /*AUTH*/
  .modal-wrapper--big-height {
    height: auto;
  }
  .modal.js-visible .modal-wrapper--big-height {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 410px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
  }
  //.modal-auth-wrapp {
  //  display: block;
  //  height: auto;
  //}

  .form-auth__title {
    margin-bottom: 20px;
  }

  .form-auth {
    padding: 0 24px;
  }

  .form-auth__error {
    margin-top: -16px;
    margin-bottom: 8px;
  }

  .modal-footer--auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-auth__btn--desctop {
    display: none;
  }

  .form-auth__btn--mob {
    display: inline-block;
    width: auto;
    min-width: 152px;
    margin-top: 0;
    margin-left: 20px;
  }

  .auth-link {
    display: inline-block;
    text-align: left;
  }

  /*HEADER*/

  /*BANNER*/
  .banner-slides--mob {
    display: none;
  }

  .banner-desktop {
    display: block;
  }

  /*Tickets Desktop*/
  .tickets-wrapper--mob {
    display: none;
  }

  /*TICKETS DESKTOP*/
  .tickets {
    margin-bottom: 24px;
  }
  .tickets-wrapper--desktop {
    display: block;
  }
  .tickets-bonus {
    display: flex;
  }
  .tickets-wrapper {
    text-align: left;
    padding-bottom: 0;
  }

}

@media(max-width: $container) {
  .tickets-bonus {
    flex-wrap: wrap;
  }
}
@media(max-width: $container-md) {
  /*BANNER*/
  .banner-desktop__content-wrapp {
    width: calc(100% - 140px);
  }
  .banner-desktop::before  {
    width: 140px;
    height: 140px;
  }

  /*TICKETS*/
  .order-tickets__del {
    right: 0;
  }

  /*BUTTONS*/
  .btn-ticket__count {
    right: 0;
  }
}
@media(max-width: 820px) {
  .btn-ticket-desktop {
    flex-wrap: wrap;
  }
  .btn-ticket-desktop__all {
    margin-bottom: 16px;
  }
}
