.banner-desktop {
  position: relative;
  width: 100%;
  min-height: 176px;
  margin-bottom: 24px;
  overflow: hidden;
  display: none;
  &__content-wrapp {
    width: calc(100% - 180px);
    margin-left: auto;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 180px;
    background: url("../img/banner-bg.png") no-repeat center bottom;
    background-size: contain;
  }
}

.banner-head__title-desktop {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #fff;
}
.banner-edition-orders-desktop {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.banner-head__edition-desktop {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  opacity: .4;
}
.banner-start__desc-desktop {
  font-size: 14px;
  line-height: 16px;
}

.banner-start__icon-desktop {
  display: block;
  width: 40px;
  height: 40px;
}
