.banner-slides {
  position: relative;
  margin-bottom: 58px;
}

.banner-slides--hide {
  display: none;
}

.banner {
  width: 308px;
  min-height: 152px;
  padding: 16px;
  border-radius: 16px;
  margin-right: 16px;
  background: #E254F7;
}

.banner--pink {
  background-color: #E254F7;
  background-image: linear-gradient(135deg, #E254F7 0%, #8444FE 100%);
}

.banner--green {
  background-color: #A7B11C;
  background-image: linear-gradient(135deg, #A7B11C 0%, #26968F 100%);
}

.banner-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.banner-head__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $white;
}

.banner-head__edition {
  font-size: 12px;
  line-height: 16px;
  color: $white;
  opacity: 0.4;
  span {
    margin-left: 7px;
  }
}

.banner-edition-orders {
  font-size: 12px;
  line-height: 16px;
  color: $white;
  margin-bottom: 16px;
}

.banner-start {
  display: flex;
  justify-content: space-between;
  &__item {
    display: flex;
    width: 48%;
    &--inner {
      margin: 0 15px;
    }
  }
  &__content {
    width: calc(100% - 44px);
    margin-left: auto;
  }
  &__desc {
    font-size: 12px;
    line-height: 16px;
    color: $white;
    margin-bottom: 7px;
  }
  &__num {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: $white;
    &--inner {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
.banner-start__icon {
  display: block;
  width: 32px;
  height: 32px;
  //border-radius: 50%;
}
