
.games-slider {
  display: flex;
  &__item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    &--pink {
      border: 2px solid #F3ABCE;
    }
    &--inner {
      border: 2px solid #83829E;
      background-color: transparent;
    }
    &--disabled {
      position: relative;
      background: transparent;
      opacity: .4;
      border: 1px solid rgb(255, 255, 255);
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 19px;
        height: 19px;
        background: url("../img/svg/disabled.svg") no-repeat;
        transform: translate(-50%, -50%);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &--active {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -23px;
        width: 15px;
        height: 15px;
        background: #CFCFE9;
        border-radius: 3px;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }
}
