.g-app {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.g-container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
  @media(max-width: $container) {
    max-width: 100%;
  }
}
.g-main {
  padding-top: 76px;
}
