.g-app {
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.g-container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
  @media(min-width: $container-lg) {
    max-width: $container-lg;
    padding: 0;
  }
}
.g-wrapper {
  display: flex;
  justify-content: space-between;
}

.g-main {
  position: relative;
}

.g-content {
  width: 732px;
  margin: auto;
  padding: 32px 24px;
  background: rgba(255, 255, 255, 0.4);
  @media(max-width: $container-md) {
    width: calc(100% - 354px);
    margin-left: auto;
    margin-right: 0;
  }
  @media(max-width: $container-sm) {
    background: transparent;
    width: 100%;
  }
}

.g-side {
  width: 354px;
  padding: 32px;
  @media(max-width: $container-md) {
    display: block;
  }

  &--hide {
    @media(max-width: $container-md) {
      display: none;
    }
  }
  @media(max-width: $container-sm) {
    display: none;
  }
}
