.header-auth {
  &__link {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    color: #fff;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: -5px;
      width: 8px;
      height: 2px;
      background: #fff;
      transform: translateY(-50%) rotate(-45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 8px;
      height: 2px;
      background: #fff;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  &__count {
    display: flex;
    justify-content: space-between;
  }
}
.header-count {
  display: flex;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
  &__num {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 7px;
  }
  &__icon {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
  }
}

.header-count__icon--order:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/u-order.png") no-repeat center;
  transform: translate(-50%, -50%);
}

.header-count__icon--rub:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/rub.png") no-repeat center;
  transform: translate(-50%, -50%);
}
