.header-inner-wrapp {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  background: linear-gradient(168.23deg, #E254F7 -27.9%, #8444FE 164.17%);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
