.header {
  background: rgba(75, 72, 111, .8);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
}
.header-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-wrapper__icon {
  width: 20px;
  height: 20px;
  color: #fff;
}
.header-wrapper__user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(75, 72, 111, 0.1);
}

