.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(75, 72, 111, .8);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  margin-bottom: 16px;
  z-index: 2;
}
.header-wrapper {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header-wrapper__user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(75, 72, 111, 0.1);
}

