.number-tickets {
  width: 212px;
  padding: 19px 0;
  background: #FBF9FD;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
}

.number-tickets__title {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  margin-bottom: 16px;
  padding: 0 10px;
}
.number-tickets__title-small {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 12px;
  padding: 0 10px;
}
.number-tickets__desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 8px;
  padding: 0 10px;
}

.number-tickets-table {
  width: 100%;
  text-align: center;
  background: #FBF9FD;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.number-tickets-table__td {
  border-top: 1px solid #E9E3F2;
  border-right: 1px solid #E9E3F2;
  border-bottom: 1px solid #E9E3F2;
  width: 72px;
  height: 42px;
  cursor: pointer;
  &:nth-child(5n) {
    border-right: 0;
  }
}

.number-tickets-table__td--pink-active {
  color: $white;
  font-weight: bold;
  background: linear-gradient(135deg, #E254F7 0%, #8444FE 100%);
}
.number-tickets-table__td--orange-active {
  color: $white;
  font-weight: bold;
  background: linear-gradient(216.73deg, #F4C466 -11.15%, #F46699 100.27%);
}
.number-tickets-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: linear-gradient(135deg, #E254F7 0%, #8444FE 100%);
    border-radius: 6px;
    overflow: hidden;
  }
}

.number-tickets-list__item--one:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
  transform: translate(-50%, -50%);
}


.number-tickets-list__item--two:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
}

.number-tickets-list__item--two:after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
}


.number-tickets-list__item--four:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
}

.number-tickets-list__item--four:after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
  opacity: .4;
}

.number-tickets-list__circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #F2DBFD;
    z-index: 2;
  }
  &:after {
    content: "";
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #F2DBFD;
    z-index: 2;
    opacity: .4;
  }
}

.number-tickets-list__item--four-revert:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
  opacity: .4;
}

.number-tickets-list__item--four-revert:after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F2DBFD;
  z-index: 2;
}

.number-tickets-list__circle-revert {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #F2DBFD;
    z-index: 2;
    opacity: .4;
  }
  &:after {
    content: "";
    position: absolute;
    left: 6px;
    bottom: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #F2DBFD;
    z-index: 2;
  }
}
