.profile-page {
  margin: -24px;
  &__box {
    padding: 24px 16px 0 16px;
    &--bg {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      box-shadow: 0px -1px 9px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(9px);
    }
  }
  &__wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
  &__more {
    position: relative;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E9E3F2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 3px;
      background: url("../img/more.png") no-repeat;
    }
  }
  &__item {
    position: relative;
    padding-left: 55px;
    width: 50%;
    &--price:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background: url("../img/Balance-Ruble.png") no-repeat;
      background-size: 40px;
    }
    &--bonus:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background: url("../img/Balance-Bonus.png") no-repeat;
      background-size: 40px;
    }
  }
  &__num {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }
  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.profile-page__time {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.profile-page__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.profile-page__icon {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  margin-right: 16px;
}
.profile-page__counter {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/game-counter.png") no-repeat;
  background-size: 100%;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #fff;
}
.profile-page__game-wrapp {
  display: flex;
  align-items: center;
}
.profile-page__game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
