.banner.banner-desktop.banner--pink
    .banner-desktop__content-wrapp
        .banner-head
            h3.banner-head__title-desktop Рапидо
            p.banner-head__edition-desktop Тираж
                span.banner-head__edit-num №178270
        p.banner-edition-orders-desktop <b>Cегодня — 80 000</b> ₽ выплачено, <b>328</b> продано билетов
        .banner-start
            .banner-start__item
                img.banner-start__icon-desktop(src="img/Timer.png")
                .banner-start__content
                    p.banner-start__desc До начала
                    p.banner-start__num 04:10
            .banner-start__item
                img.banner-start__icon-desktop(src="img/Jackpot.png")
                .banner-start__content
                    p.banner-start__desc Джек пот
                    p.banner-start__num 2 499 999 ₽
