.banner.banner--desktop.banner--pink
    .banner-head
        h3.banner-head__title Рапидо
        p.banner-head__edition Тираж
            span №178270
    p.banner-edition-orders <b>Cегодня — 80 000</b> ₽ выплачено, <b>328</b> продано билетов
    .banner-start
        .banner-start__item
            img.banner-start__icon(src="img/Timer.png")
            .banner-start__content
                p.banner-start__desc До начала
                p.banner-start__num 04:10
        .banner-start__item
            img.banner-start__icon(src="img/Jackpot.png")
            .banner-start__content
                p.banner-start__desc Джек пот
                p.banner-start__num 2 499 999 ₽
