.btn-ticket-desktop
    p.btn-ticket-desktop__all Всего: <span>5 </span> билетов на сумму <span>1 500</span> ₽
    .btn-ticket-wrapp
        button.btn-desktop.btn-desktop--white
            span Очистить все
        button.btn-desktop.btn-desktop--dark
            span Оплатить
