header.header-desktop
    .g-container
        .header-wrapper
            a(href="").header-wrapper__logo
                img(src="img/svg/logo-desktop.svg" alt="logo")
            .header-game-wrapp
                .header-game
                    .header-game-box
                        .header-game-box__item.header-game-box__item--pink.header-game-box__item--active
                            img(src="img/svg/lotery.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--inner
                            img(src="img/svg/bingo.svg" alt="pic")
                    ul.header-game-box.header-game-box--disabled
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                .header-game
                    .header-game-box
                        .header-game-box__ticket
                            img(src="img/doll.png" alt="pic")
                        .header-game-box__ticket
                            img(src="img/pod.png" alt="pic")
                        .header-game-box__ticket
                            img(src="img/cherry.png" alt="pic")
                    ul.header-game-box.header-game-box--disabled
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")
                        .header-game-box__item.header-game-box__item--disabled
                            img(src="img/svg/duel.svg" alt="pic")

            .header-auth
                a.header-auth__link(href="") knmisha23
                .header-auth__count
                    .header-count
                        span.header-count__icon.header-count__icon--rub
                        span.header-count__num 18 282
                    .header-count
                        span.header-count__icon.header-count__icon--order
                        span.header-count__num 580



