.header-inner-wrapp
    .g-container
        .header-inner
            a.header-inner__user
                img(src="img/svg/union.svg")
            .header-inner__banner
                .banner-start
                    .banner-start__item.banner-start__item--inner
                        img.banner-start__icon(src="img/Timer.png")
                        .banner-start__content
                            p.banner-start__desc.banner-start__desc--inner До начала
                            p.banner-start__num.banner-start__num--inner 04:10
                    .banner-start__item.banner-start__item--inner
                        img.banner-start__icon(src="img/Jackpot.png")
                        .banner-start__content
                            p.banner-start__desc.banner-start__desc--inner Джек пот
                            p.banner-start__num.banner-start__num--inner 2 499 999 ₽
            a.header-inner__user
                img(src="img/svg/subtract.svg")
