header.header
    .g-container
        .header-wrapper
            a(href="").header-wrapper__user
                img(src="img/svg/union.svg" alt="pic")
            ul.games-slider
                .games-slider__item.games-slider__item--pink.games-slider__item--active
                    img(src="img/svg/lotery.svg" alt="pic")
                .games-slider__item.games-slider__item--inner
                    img(src="img/svg/bingo.svg")
                .games-slider__item.games-slider__item--disabled
                    img(src="img/svg/duel.svg" alt="pic")
            a(href="").header-wrapper__user
                img(src="img/svg/subtract.svg" alt="pic")

