header.header
    .g-container
        .header-wrapper
            a(href="").header-wrapper__user
                img(src="img/svg/union.svg")
            ul.games-slider
                .games-slider__item.active
                    img(src="img/svg/788.svg")
                .games-slider__item
                        img(src="img/svg/789.svg")
                .games-slider__item
                    img(src="img/svg/GameLock.svg")
            a(href="").header-wrapper__user
                img(src="img/svg/subtract.svg")

