.my-games__box
    .my-games__subtitle Мои игры
    ul.my-games__games
        li.my-games__game
            .my-games__game-wrapp
                span.my-games__icon
                    img.my-games__icon(src="img/game-1.png" alt="game")
                    span.my-games__counter 5
                p.my-games__name Рапидо
            span.my-games__time 02:33
        li.my-games__game
            .my-games__game-wrapp
                span.my-games__icon
                    img.my-games__icon(src="img/game-1.png" alt="game")
                    span.my-games__counter 5
                p.my-games__name Рапидо
            span.my-games__time 02:33
        li.my-games__game
            .my-games__game-wrapp
                span.my-games__icon
                    img.my-games__icon(src="img/game-1.png" alt="game")
                    span.my-games__counter 5
                p.my-games__name Рапидо
            span.my-games__time 02:33
        li.my-games__game
            .my-games__game-wrapp
                span.my-games__icon
                    img.my-games__icon(src="img/game-1.png" alt="game")
                    span.my-games__counter 2
                p.my-games__name Рапидо
            span.my-games__time 12:33
