.profile-page
    .profile-page__box.profile-page__box--bg
        .profile-page__wrapp
            h3.profile-page__title knmisha23
            a(href="").profile-page__more
        .profile-page__wrapp
            .profile-page__item.profile-page__item--price
                p.profile-page__num 18 282
                p.profile-page__text Кошелек
            .profile-page__item.profile-page__item--bonus
                p.profile-page__num 580
                p.profile-page__text Бонусы
    //.profile-page__box
    //    .profile-page__subtitle Мои игры
    //    ul.profile-page__games
    //        li.profile-page__game
    //            .profile-page__game-wrapp
    //                span.profile-page__icon
    //                    img.profile-page__icon(src="img/game-1.png" alt="game")
    //                    span.profile-page__counter 5
    //                p.profile-page__name Рапидо
    //            span.profile-page__time 02:33
    //        li.profile-page__game
    //            .profile-page__game-wrapp
    //                span.profile-page__icon
    //                    img.profile-page__icon(src="img/game-1.png" alt="game")
    //                    span.profile-page__counter 5
    //                p.profile-page__name Рапидо
    //            span.profile-page__time 02:33
    //        li.profile-page__game
    //            .profile-page__game-wrapp
    //                span.profile-page__icon
    //                    img.profile-page__icon(src="img/game-1.png" alt="game")
    //                    span.profile-page__counter 5
    //                p.profile-page__name Рапидо
    //            span.profile-page__time 02:33
    //        li.profile-page__game
    //            .profile-page__game-wrapp
    //                span.profile-page__icon
    //                    img.profile-page__icon(src="img/game-1.png" alt="game")
    //                    span.profile-page__counter 2
    //                p.profile-page__name Рапидо
    //            span.profile-page__time 12:33
