.profile-page
    .profile-page__box.profile-page__box--bg
        .profile-page__wrapp
            h3.profile-page__title knmisha23
            a(href="").profile-page__more
        .profile-page__wrapp
            .profile-page__item.profile-page__item--price
                p.profile-page__num 18 282
                p.profile-page__text Кошелек
            .profile-page__item.profile-page__item--bonus
                p.profile-page__num 580
                p.profile-page__text Бонусы
        include promo
        .unbox
            .unbox-content.unbox-content--mob
                h4.unbox-content__title Завершено 4 игры!
                a(href="").unbox-content__link.unbox-content__link--white Проверить результат
