.profile-page
    .profile-page__box.profile-page__box--bg
        .profile-page__wrapp
            h3.profile-page__title knmisha23
    .rename
        form.rename-form(action="" method="")
            .rename-form__box
                input#nickname.rename-form__input(type="text")
                label.rename-form__label(for="nickname") Никнейм
            button.rename-form__btn.btn-ticket--dark(type="submit") Сохранить изменения
