section
    .g-container
        .tickets-wrapper
            .tickets.tickets--show
                .tickets-head
                    h3.tickets-title Купить билеты
                    button.tickets-btn(type="button") Очистить все
                .order-tickets
                    .order-tickets__item.order-tickets__item--add
                        span.tickets-add + Добавить билет
                    .order-tickets__item.order-tickets__border-row
                        span.order-tickets__del -
                        span.order-tickets__count #5
                        table.order-tickets__table
                            tr.tr
                                td.td 3
                                td.td 5
                                td.td 7
                                td.td 9
                            tr.tr
                                td.td 12
                                td.td 15
                                td.td 16
                                td.td 19
                            tr.tr
                                td.td.disabled 1
                                td.td 2
                                td.td.disabled 3
                                td.td.disabled 4
                    .order-tickets__item.order-tickets__border-row
                        span.order-tickets__del -
                        span.order-tickets__count #5
                        table.order-tickets__table
                            tr.tr
                                td.td 3
                                td.td 5
                                td.td 7
                                td.td 9
                            tr.tr
                                td.td 12
                                td.td 15
                                td.td 16
                                td.td 19
                            tr.tr
                                td.td.disabled 1
                                td.td 2
                                td.td.disabled 3
                                td.td.disabled 4
                    .order-tickets__item.order-tickets__border-row
                        span.order-tickets__del -
                        span.order-tickets__count #5
                        table.order-tickets__table
                            tr.tr
                                td.td 3
                                td.td 5
                                td.td 7
                                td.td 9
                            tr.tr
                                td.td 12
                                td.td 15
                                td.td 16
                                td.td 19
                            tr.tr
                                td.td.disabled 1
                                td.td 2
                                td.td.disabled 3
                                td.td.disabled 4
                    .order-tickets__item.order-tickets__border-row
                        span.order-tickets__del -
                        span.order-tickets__count #5
                        table.order-tickets__table
                            tr.tr
                                td.td 3
                                td.td 5
                                td.td 7
                                td.td 9
                            tr.tr
                                td.td 12
                                td.td 15
                                td.td 16
                                td.td 19
                            tr.tr
                                td.td.disabled 1
                                td.td 2
                                td.td.disabled 3
                                td.td.disabled 4
                    .order-tickets__item.order-tickets__border-row
                        span.order-tickets__del -
                        span.order-tickets__count #5
                        table.order-tickets__table
                            tr.tr
                                td.td 3
                                td.td 5
                                td.td 7
                                td.td 9
                            tr.tr
                                td.td 12
                                td.td 15
                                td.td 16
                                td.td 19
                            tr.tr
                                td.td.disabled 1
                                td.td 2
                                td.td.disabled 3
                                td.td.disabled 4

            .tickets.tickets--hide
                img.tickets__images(src="img/tickets.png")
                h3.tickets__title Купить билеты
                p.tickets__desc Поясняющий текст. Например - Нажмите “Добавить билеты”, чтобы начать покупку
            .btn-ticket-wrapp
                button.btn-ticket.btn-ticket--dark(type="button")
                    img.btn-ticket__icon(src="img/svg/btn-plus.svg")
                    span Добавить билеты
                button.btn-ticket.btn-ticket--white(type="button")
                    span.btn-ticket__count 5
                    img.btn-ticket__icon(src="img/svg/card.svg")
                    span Добавить билеты
