.unbox
    .unbox-content
        h4.unbox-content__title Завершено 4 игры!
        a(href="").unbox-content__link Проверить результат
            img.unbox-content__icon(src="img/svg/next-link.svg" alt="icon")
