.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.modal.js-visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal.js-visible .modal-overlay {
  opacity: 1;
  display: block;
  transition-delay: 0s;
}
.modal-wrapper {
  width: 100%;
  height: calc(100vh - 150px);
  position: absolute;
  bottom: 0;
  background: #FBF9FD;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  box-shadow: 0px -1px 9px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(9px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 10;
  overflow-y: auto;
  &--gray {
    background: #ECECED;
  }
}
.modal-wrapper--big-height {
  height: 100vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-wrapper--transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
  display: none;
}
.modal.js-visible .modal-wrapper--transition {
  transform: translateY(0);
  opacity: 1;
  display: block;
}

.modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E9E3F2;
  box-sizing: border-box;
  border-radius: 16px;
  transition: all 0.5s;
  &:hover, &:focus, &:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
  }
}

.modal-close__icon {
  color: #4D555D;
}

.modal-close--inner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.modal-delete {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E9E3F2;
  box-sizing: border-box;
  border-radius: 16px;
  transition: all 0.5s;
  &:hover, &:focus, &:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
  }
}

.modal-delete__icon {
  color: #4D555D;
}

.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.modal-header--border {
  padding: 32px 24px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    width: calc(100% - 48px);
    height: 2px;
    background: #ECECEC;
    border-radius: 16px;
  }
}

.modal-header__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.modal-footer {
  padding: 0 24px 24px 24px;
  &--pink {
    position: relative;
    background: linear-gradient(135deg, #E254F7 0%, #8444FE 100%);
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;
      width: 100vw;
      height: 25px;
      background: radial-gradient(ellipse at center, #fff 0%, #fff 30%, transparent 30%);
      background-size: 25px 25px;
      background-repeat: repeat-x;
    }
  }
}


.modal-btn {
  display: block;
  padding: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  &--black {
    background: #03090F;
    color: $white;
  }
  &--white {
    background: $white;
  }
  &--big {
    width: 100%;
  }
}
