.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.is-visible {
  visibility: visible;
}
.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.modal-wrapper {
  width: 100%;
  height: calc(100vh - 150px);
  position: absolute;
  bottom: 0;
  background: #FBF9FD;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  box-shadow: 0px -1px 9px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(9px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 10;
  overflow-y: scroll;
}
.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}
.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E9E3F2;
  box-sizing: border-box;
  border-radius: 16px;
  transition: all 0.5s;
  &:hover, &:focus, &:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
  }
}

.modal-close__icon {
  color: #4D555D;
}
.modal-delete {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #E9E3F2;
  box-sizing: border-box;
  border-radius: 16px;
  transition: all 0.5s;
  &:hover, &:focus, &:active {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.02);
  }
}
.modal-delete__icon {
  color: #4D555D;
}
.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.modal-header--border {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    width: calc(100% - 48px);
    height: 2px;
    background: #ECECEC;
    border-radius: 16px;
  }
}

.modal-header__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.modal-footer {
  padding: 0 24px 24px 24px;
}
