.profile {
  width: 280px;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 2;
  padding: 24px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(9px);
  border-radius: 16px;
  display: none;
}
.profile-js-visible {
  display: block;
}
.profile-auth {
  position: relative;
  padding-bottom: 16px;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #D8D8E6;
    opacity: 0.3;
  }
  &__link {
    position: relative;
    margin-bottom: 15px;
    color: $gray;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  &__count {
    display: flex;
    //justify-content: space-between;
  }
}
.profile-count {
  display: flex;
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
  &__num {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    margin-left: 7px;
  }
  &__icon {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background: $gray;
    border-radius: 50%;
  }
}

.profile-count__icon--order:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/w-order.png") no-repeat center;
  transform: translate(-50%, -50%);
}

.profile-count__icon--rub:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: url("../img/rub-white.png") no-repeat center;
  transform: translate(-50%, -50%);
}
.profile-logout {
  padding: 19px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $gray;
}
.profile-list {
  position: relative;
  padding-bottom: 16px;
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #D8D8E6;
    opacity: 0.3;
  }
  &__link {
    position: relative;
    padding: 15px 0 15px 45px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $gray;
    &--name:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 16px;
      background: url("../img/svg/rename.svg") no-repeat center;
      transform: translateY(-50%);
    }
    &--author:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 16px;
      background: url("../img/svg/author.svg") no-repeat center;
      transform: translateY(-50%);
    }
    &--arh:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 16px;
      background: url("../img/svg/arh.svg") no-repeat center;
      transform: translateY(-50%);
    }
  }
}
