extends ../layout/buy-ticket-summary
block vars
    - var title = 'buy-ticket-summary';
block header
    include ../includes/header.pug
    include ../includes/header-desktop.pug
block content
    section.g-main
        include ../includes/by-ticket-popup
        include ../includes/modals/buy-ticket-summary-popup

