extends ../layout/buy-ticket-summary
block vars
    - var title = 'buy-ticket-summary';
block header
    include ../includes/header.pug
block content
    section.main
        include ../includes/by-ticket

