extends ../layout/buy-ticket-summary
block vars
    - var title = 'buy-ticket-summary';
block header
    include ../includes/header.pug
block content
    section.g-main
        .g-container
            include ../includes/by-ticket

