extends ../layout/forgot-pass-modal.pug
block vars
    - var title = 'forgot-pass-modal';
block header
    include ../includes/header.pug
    include ../includes/header-desktop.pug
block content
    section.g-main
        include ../includes/by-ticket

