extends ../layout/layout.pug
block vars
	- var title = 'by_ticket_empty';
block header
	include ../includes/header-to-scroll.pug
block content
	section.g-main
		.g-container
			include ../includes/by-ticket-scroll

