extends ../layout/number-ticket.pug
block vars
    - var title = 'number-ticket-modal';
block header
    include ../includes/header.pug
    include ../includes/header-desktop.pug
block content
    section.g-main
        include ../includes/by-ticket

