extends ../layout/number-ticket.pug
block vars
    - var title = 'number-ticket-modal';
block header
    include ../includes/header.pug
block content
    main.main
        include ../includes/by-ticket

