extends ../layout/layout.pug
block vars
    - var title = 'profile-mob-page';
block header
    include ../includes/header-profile.pug
block content
    section.g-main
        include ../includes/profile-mob-page
