@import "import/normalize";
@import "import/fonts";
@import "import/variables";
@import "import/settings";
@import "import/global";
@import "import/buttons";


@import "import/header";
@import "import/header-to-scroll";
@import "import/games-slider";
@import "import/banner";
@import "import/tickets";

@import "import/modals/modals";
@import "import/modals/add-ticket-modal";
@import "import/modals/number-ticket-modal";
@import "import/modals/ticket-summary-modal";
@import "import/modals/auth-modal";
