.modal.is-visible
    .modal-overlay.modal-toggle
    .modal-wrapper.modal-transition
        .modal-header.modal-header--border
            button.modal-close
                img.modal-close__icon(src="img/svg/Close.svg")
            h2.modal-header__title Оплатить билеты
        .modal-body
            .modal-ticket-summary

