.modal.js-visible
    .modal-overlay
    .modal-wrapper.modal-wrapper--big-height.modal-wrapper--transition
        .modal-header.modal-header--border
            button.modal-close
                img.modal-close__icon(src="img/svg/Close.svg")
            h2.modal-header__title Оплатить билеты
        form.modal-form-summary
            .modal-body
                .modal-ticket-summary
                    .modal-summary
                        .modal-summary__head
                            .modal-summary__title
                                //img(src="img/svg/Multiplication.svg")
                                span.modal-summary__text Множитель
                            .modal-summary-counter
                                span.modal-summary-counter__icon.modal-summary-counter__icon--disable -
                                span.modal-summary-counter__num 1
                                span.modal-summary-counter__icon +
                        .extended-bid-content.extended-bid-content--text-center
                            p.extended-bid-content__text.extended-bid-content__text--width Кратно увеличиваем все выигрыши
                    .modal-summary
                        .modal-summary__head
                            .modal-summary__title
                                //img(src="img/svg/MultiplicationInner.svg")
                                span.modal-summary__text Кол-во игр подряд
                            .modal-summary-counter
                                span.modal-summary-counter__icon.modal-summary-counter__icon--disable -
                                span.modal-summary-counter__num 1
                                span.modal-summary-counter__icon +
                        ul.modal-summary-list
                            li.modal-summary-list__item +1
                            li.modal-summary-list__item +5
                            li.modal-summary-list__item +10
                            li.modal-summary-list__item +25
                        .extended-bid-content.extended-bid-content--text-center
                            p.extended-bid-content__text.extended-bid-content__text--width Какой-то текст подсказки <br>вторая строка
            .modal-footer.modal-footer--pink
                .modal-summary-order
                    h2.modal-summary-order__title <span>5</span> Билетов  – <span>1 500</span> ₽
                    ul.summary-order-list
                        li.summary-order-list__item
                            .summary-order-list__content
                                span.summary-order-list__pic-wrapp
                                    //img.summary-order-list__pic(src="img/svg/visa.svg")
                                .summary-order-list__text
                                    p.summary-order-list__title Банковская карта
                                    p.summary-order-list__desc Mastercard, Visa, МИР
                            .summary-order-input-wrapp
                                input#card.summary-order-input(type="radio" name="card")
                                label.summary-order-label(for="card")
                        li.summary-order-list__item
                            .summary-order-list__content
                                span.summary-order-list__pic-wrapp
                                    //img.summary-order-list__pic(src="img/svg/pay.svg")
                                .summary-order-list__text
                                    p.summary-order-list__title Оплатить кошельком
                                    p.summary-order-list__desc На балансе – <span>2 000</span>₽
                            .summary-order-input-wrapp
                                input#pay.summary-order-input(type="radio" name="card")
                                label.summary-order-label(for="pay")
                        li.summary-order-list__item.summary-order-list__item--disabled
                            .summary-order-list__content
                                span.summary-order-list__pic-wrapp
                                    //img.summary-order-list__pic(src="img/svg/bonus-green.svg")
                                .summary-order-list__text
                                    p.summary-order-list__title Специальный бонус
                                    p.summary-order-list__desc <span>0<span> Баллов доступно
                            .summary-order-input-wrapp
                                input#bonus.summary-order-input(type="checkbox")
                                label.summary-order-label(for="bonus")
                button.modal-btn.modal-btn--big.modal-btn--white Оплатить <span>1 500</span> ₽
