.modal.is-visible
    .modal-overlay.modal-toggle
    .modal-wrapper.modal-transition
        .modal-header
            button.modal-delete
                img.modal-delete__icon(src="img/svg/card-modal.svg")
            .modal-tickets-slider
                .modal-tickets-slider__item
                    p.modal-tickets-slider__title Билет №3
                .modal-tickets-slider__next
                    img(src="img/svg/next.svg")
                .modal-tickets-slider__prev
                    img(src="img/svg/prev.svg")
            button.modal-close
                img.modal-close__icon(src="img/svg/Close.svg")
        .modal-body
            .modal-ticket
                h4.modal-ticket__title Выберите 8 значений
                p.modal-ticket__desc Каждое число кратно увеличивает шансы на победу
                table.modal-ticket-table
                    tr.modal-ticket-table__row
                        td.modal-ticket-table__td 1
                        td.modal-ticket-table__td.modal-ticket-table__td--active 2
                        td.modal-ticket-table__td 3
                        td.modal-ticket-table__td 4
                        td.modal-ticket-table__td 5
                    tr.modal-ticket-table__row
                        td.modal-ticket-table__td 6
                        td.modal-ticket-table__td 7
                        td.modal-ticket-table__td 8
                        td.modal-ticket-table__td 9
                        td.modal-ticket-table__td 10
                    tr.modal-ticket-table__row
                        td.modal-ticket-table__td 11
                        td.modal-ticket-table__td 12
                        td.modal-ticket-table__td 13
                        td.modal-ticket-table__td 14
                        td.modal-ticket-table__td 15
                    tr.modal-ticket-table__row
                        td.modal-ticket-table__td 16
                        td.modal-ticket-table__td 17
                        td.modal-ticket-table__td 18
                        td.modal-ticket-table__td 19
                        td.modal-ticket-table__td 20
            .modal-ticket
                h4.modal-ticket__title Выберите бонусные числа от 1 до 4
                p.modal-ticket__desc Каждое число кратно увеличивает шансы на победу
                table.modal-ticket-table
                    tr.modal-ticket-table__row
                        td.modal-ticket-table__td 1
                        td.modal-ticket-table__td 2
                        td.modal-ticket-table__td 3
                        td.modal-ticket-table__td 4
            .modal-ticket
                h4.modal-ticket__title Автоматическое заполнение
                p.modal-ticket__desc Используйте случайные комбинации чисел
                ul.modal-ticket-list
                    li.modal-ticket-list__item
                        img(src="img/svg/range.svg")
                    li.modal-ticket-list__item.modal-ticket-list__item--one
                    li.modal-ticket-list__item.modal-ticket-list__item--two
                    li.modal-ticket-list__item.modal-ticket-list__item--four
                        span.modal-ticket-list__circle
                    li.modal-ticket-list__item.modal-ticket-list__item--four-revert
                        span.modal-ticket-list__circle-revert
