.profile.profile-js-visible
    .profile-auth
        a.profile-auth__link(href="") knmisha23
        .profile-auth__count
            .profile-count
                span.profile-count__icon.profile-count__icon--rub
                span.profile-count__num 18 282
            .profile-count
                span.profile-count__icon.profile-count__icon--order
                span.profile-count__num 580
    ul.profile-list
        li.profile-list__item
            a(href="").profile-list__link.profile-list__link--name Изменить никнейм
        li.profile-list__item
            a(href="").profile-list__link.profile-list__link--author Перейти в профиль Столото
    a.profile-logout(href="") Выйти из профиля
