.modal.js-visible
    .modal-overlay
    .modal-wrapper.modal-wrapper--transition
        .modal-header.modal-header--profile
            button.modal-close
                img.modal-close__icon(src="img/svg/Close.svg" alt="close")
            h2.modal-header__title Еще
        .modal-body
            .modal-profile
                ul.profile-list
                    li.profile-list__item
                        a(href="").profile-list__link.profile-list__link--arh Архив билетов
                    li.profile-list__item
                        a(href="").profile-list__link.profile-list__link--name Изменить никнейм
                    li.profile-list__item
                        a(href="").profile-list__link.profile-list__link--author Перейти в профиль Столото
                a.profile-logout(href="") Выйти из профиля
