.modal.js-visible
    .modal-overlay
    .modal-wrapper.modal-wrapper--big-height.modal-wrapper--transition.modal-wrapper--unbox
        img.unbox-modal-pic(src="img/unbox-bg-mob.png" alt="box")
        .modal-body.modal-body-unbox--height
            .unbox-modal
                .unbox-content.unbox-content--modal
                    h4.unbox-content__title.unbox-content__title--modal Завершено 4 игры!
                    p.unbox-content__text У вас были билеты на игры, вы пропустили розыгрыш. Посмотрите на результат игры

            .modal-footer
                .unbox-btn-wrapp
                    a(href="").unbox-content__link.unbox-content__link--no-bg Позже
                    a(href="").unbox-content__link.unbox-content__link--white Проверить результат

